html, body{
	background-color:#E5E5E5;
}
/**
nav ul li.btn{
	background-color:#455E1D;
}
*/

footer ul {
	list-style: none;
}

footer li{
	text-decoration: none;
}


footer h3 a{
	color: #32AFFF;
	font-size: 15px;
	font-weight: bold;
	margin-left: 0;
}

footer a{
	color: black;
	font-family: 'Arial';
}

footer a:link{
	text-decoration: none;
}

footer a:hover{
	color: red;
}

footer .blog-header{	
	margin-left: 5%;
	border: 1px solid gray;
    width:50%;
}

.blog-events a{
	color: #32AFFF;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 20px;
}

.copyright p{
	font-family: Times New Roman;
	font-size: 15px;
	font-weight: bold;
	line-height: 13px;
	text-align: left;
	margin-left: 15%;
}

.left a img{
	max-width: 30%;
	float: right;
	padding: 0;
	margin:0;
}

.left col-2{
	padding: 0;
	margin:0;
}

#navbarNav .schedule{
    background-color: green;
}

@media only screen and (max-width:400px){
  .community  .img-text{
        top:0%;
        text-align:center;
        margin-top:0%;
    }
  .community  .img-text p{
        font-size: 20px;
    }
  .community  .img-text .btn{ 
       margin-top:-30%;
       border-radius: 7px;
    }
    .left{
        justify-content:center;
        margin-left:5%;
    }
  .left a img{
        max-width: 100%;
        float: right;
        padding: 0;
        margin-left: 2%;
        margin:0;
    }
    .copyright p{
        justify-content:center;
        margin-left:0%;
    }

    .blog-events .col-sm-2{
        width: 0%;
        padding-top: 0%;
        padding-left:10%;
    }

}
