body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.v-header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding-bottom: 23%;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-video-wrap video {
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) {
  .header-overlay {
    height: 122vh;
    width: 100vw;
    position: absolute;
    top: 2%;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.75;
  }
  .header-content {
    margin-top: 12%;
    z-index: 2;
  }
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.header-content h1,
p {
  text-align: left;
  margin-left: 10%;
}

@media only screen and (max-width: 400px) {
  .v-header {
    padding-bottom: 15px;
  }
  .header-overlay {
    height: 33%;
    width: 100%;
    position: absolute;
    margin-top: 15%;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.75;
  }
  .header-content {
    margin-top: 10%;
  }
  .header-content p {
    font-size: 15px;
  }
  .header-content h1 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .fullscreen-video-wrap {
    position: absolute;
    margin-top: 15%;
    left: 0;
    width: 100%;
    height: auto;
  }
}
